body, html {
   color: #EAD5F3;
    
}

.box {
    background-color: #000;
    width: 150px;
    height:0;
    
    margin: 25px;
    animation-name: growing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

div {
    float: left;
}
.ganesh {
    margin: 25px;
    background-color: #BFB4C4;
    width: 200px;
    height: 100px;
    transition-property: width, height, background-color, color;
    transition-duration: 4s;
    transition-timing-function: ease-in-out;
    
}
.ganesh:hover {
    color: #4C056A;
    
    width: 400px;
    
    }

@keyframes growing {
    from {
        height: 0;
    }
    to {
        height: 150px;
    }
}